body{
    max-width: 500px;
    margin: auto;
    padding: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1{
   margin: 0;
}

button{
    margin: 1rem;
}